@media screen and (min-width: 1000px){
	nav > .nav-wrapper > .container, .card .container{
		width: 80%;
	}
}

body, #btn, #div-nav {
	transition: background-color 1s;
}

.link-github:hover {
	color: #0097a7;
	transition: color .5s;
}

.input-field input[type=number]{
	font-size: 20px;
	padding-left: 5px;
	text-align: center;
}

.input-field label {
	font-size: 20px;
}

#numeroResultados {
	float: none; 
	margin-left: 0;
	padding: 2px 6px 2px 6px;
}

textarea#resultado {
	font-size: 40px;
	text-align: center;
}

@media screen and (max-width: 600px){
	.input-field input[type=number], .input-field > label {
		font-size: 16px;
	}
	textarea#resultado {
		font-size: 20px;
	}
}

.scalable {
  	transition: transform 1.5s .5s, box-shadow 1.5s, opacity 2s;
}

.scalable:hover {
 	transform: scale(1.05); 
  	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

.noShow {
	display: none;
}
.opacity0 {
	opacity: 0;
}
.card {
	border-radius: 12px;
	transition-timing-function: ease-out;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.btn {
	border-radius: 27px;
}

#space {
	height: 50vh;
}

.modal-content {
	padding-bottom: 5px !important;
}

textarea.materialize-textarea:disabled {
	color: teal !important;
}